<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Thanks for submitting this form! You have submitted this form {{request.session.number}} times now.</p>
    <p>Submitted Information</p>
     Name: {{request.session.name}}<br>
     location: {{request.session.location}}<br>
     language: {{request.session.language}}<br>
     comment: {{request.session.comment}}<br>
    <input type="submit" value="Go Back">   
    

</body>
</html>