<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
    <h2>Welcome to the Great Number Game!</h2><br>
    <p>I am thinking of a number betwwen 1 and 100</p><br>
    <p>Take a guess!</p><br>
    <textarea name="somekey" id="" cols="5" rows="1"></textarea><br>
    <button type="submit" value="Submit"></button>
    </form>
</body>
</html>