<html>
  <head>
    <title>Friends</title>
  </head>
  <body>
    {% for friend in all_friends: %}
       <p>Name: {{ friend['name'] }}</p>
       <p>Age: {{ friend['age'] }}</p>
       <p>Friends Since: {{ friend['friendssince'] }}</p>
       <hr>
    {% endfor %}
    <h2>Add a Friend</h2>
    <form action='/friends' method='POST'>
      <label for="name">Name:<input type="text" name="name" id="first_name"></label>
      <label for="age">Age:<input type="text" name="age" id="age"></label>
      <label for="friendssince">Friends Since:<input type="text" name="friendssince" id="friendssince"></label>
      <input type="submit" value="Add">
    </form>
  </body>
  </html>