<!DOCTYPE html>
<html lang="en">
<head>
    <title>EMAIL STUFF</title>
</head>
<body>
    <form action="/result" method="post">
        <label for="emails">Email Address:<input type="text" name="emails" id="emails"></label>
        <input type="submit" name="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {%endif%}
    {%endwith%}
    
</body>
</html>
