<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Users/vineely/Desktop/python_stack/flask_fundamentals/survey/static/style.css">
    <title>Dojo Survey</title>
</head>
<body>
    <div>
        <form action='/results' method='post'>
            <input type='text' name='email'><br>
            <input type='text' name='first_name'><br>
            <input type='text' name='last_name'><br>
            <input type='text' name='password'><br>
            <input type='text' name='confirm_password'><br>
            <input type='Submit' value='Button'>
        </form> 
    </div> 
</body>
</html>