<html>
<head>
  <title>The Wall</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1>CodingDojo Wall</h1>
      <a href="/logout">Logout</a>
    </div>
    <div id="content">
      <form id ="message_form" action='/messages' method='POST'>
        <h3>Go ahead, post a message!</h3>
        <input id="message" type="textarea" name="message">
        <input type="submit" value="Submit">
      </form>
      <hr>
      {% if messages %}
        {% for entry in messages %}
          <h4 class = "message_attributes">{{entry['first_name'].capitalize()}} {{ entry['last_name'].capitalize()}} - {{entry['message_time'].strftime('%I:%M%p on %B %w, %Y')}}</h4>
          <p class = "message">{{entry['message']}}</p>
          {% if user['id'] == entry['user_id'] %}
          <form action="/messages/{{entry['id']}}/delete" method="POST">
            <input type="submit" value="Delete Message">
          </form>
          {% endif %}
          {% if comments %}
            {% for comment in comments %}
              {% if entry['msg_id'] == comment['msg_id'] %}
              <h4 class = "comment_attributes">{{comment['first_name'].capitalize()}} {{comment['last_name'].capitalize()}} - {{comment['comment_time'].strftime('%m/%d/%y at %H:%M')}}</h4>
              <p class = "comment">{{comment['comment']}}</p>
                {% if user['id'] == comment['user_id'] %}
                <form action="/comments/{{comment['id']}}/delete" method="POST">
                  <input type="submit" value="Delete Comment">
                </form>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <form id ="comment_form" action='/comments/{{entry['msg_id']}}' method='POST'>
            <input id="comment" type="textarea" name="comment">
            <input type="submit" value="Post a comment">
          </form>
          <hr>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</body>
</html>
