<html>
    <head>
      <title>Friends</title>
      <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='friends.css') }}">

    </head>
    <body>
        <h1>These are all my friends!</h1>
        
        <table>
            <tr>   
                <th>Name:</th> 
                <th>Age:</th>
                <th>Friend Since: </th>
            </tr>
            {% for friend in all_friends: %}
            
            <tr>
                <td>{{ friend['name'] }}</td>
                <td>{{ friend['age'] }}</td>
                <td>{{ friend['friend_since'] }}</td>
            </tr>    
        
        {% endfor %}
        </table>   
        
        <hr>
        <h2>Add a Friend</h2>
      <form action='/friends' method='POST'>
        <label for="name">Name:<input type="text" name="name" id="name"></label>
        <label for="age">Age:<input type="text" name="age" id="age"></label>
        <label for="friend_since">Friend Since:<input type="text" name="friend_since" id="friend_since"></label>
        <input type="submit" value="Add">
      </form>
    </body>
    </html>