<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/books">Home</a> <a href="/books/add">Add Book and Review</a> <a href="/">Logout</a>
    <h1>User Alias:{{user.alias}}</h1>
    <h2>Name:{{user.name}}</h2>
    <p>Email:{{user.email}}<p>
    <p>Total Reviews:{{countReviews}}</p>
    <p>Posted Reviews on the following books:</p>
    {% for rev in reviewedBooks %}
    <h3>{{rev.book.name}}</h3>
    {% endfor %}
</body>
</html>